/* 基本樣式設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #00aaff, #0044cc);
    color: #fff;
    text-align: center;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar h1 {
    display: inline-block;
    margin-right: 20px;
    color: white;
}

nav ul {
    list-style-type: none;
    display: inline;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

section {
    padding: 60px 20px;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* 格子樣式 */
.iframe-container {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

iframe {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* IVAO 即時航班雷達區域樣式 */
.map-info {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.map-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: white;
}

